.content_block {
    background-color: #f0f0f0;
    padding-bottom: 40px;
}

.content-wraper {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 13px -5px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 2px 13px -5px rgb(0 0 0 / 75%);
    box-shadow: 0px 2px 13px -5px rgb(0 0 0 / 75%);
    padding: 30px 20px;
}

.survey_wraper {
    display: flex;
    flex-direction: column;
}

.s_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.s_description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 60px;
    padding: 0 10px;
}

.s_questions_cont {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.s_question {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    transition: 0.2s all;
    border-bottom: 1px solid #dbdada;
    margin-bottom: 10px;
}

.s_questiontitle {
    font-size: 21px;
    font-weight: 500;
    padding: 10px 0;
}

.s_answers {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 17px;
}

.s_answer {
    margin-bottom: 14px;
}


/*---------------SURVEY RESULT------------------*/

.s_answervotes {
    color: rgb(240, 3, 3);
}


/*---------------JOIN SURVEY------------------*/

.s_buttons {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.s_buttons button,
input {
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s all;
}

.s_finishbtn {
    background-color: rgb(34 97 182);
}

.s_finishbtn:hover {
    background-color: rgb(50, 120, 211);
}

.s_cancelbtn {
    margin-right: 16%;
    background-color: rgb(182 34 34);
}

.s_cancelbtn:hover {
    background-color: rgb(205, 81, 81);
}

.s_radio {
    margin-right: 10px;
}